{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>Asignaturas</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('subject_create') }}">
                <i class="fa fa-plus" aria-hidden="true"></i> Nueva Asignatura
            </a>
        </div>
    </div>

    <hr>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Nombre</th>
        </tr>
        </thead>
        <tbody>
            {% for subject in table %}
                <tr>
                    <td>
                        <a href="{{ path('subject_detail', {id: subject.id}) }}">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                    <td>{{ subject.createdAt | date('d-m-Y H:i') }}</td>
                    <td>{{ subject.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "AppBundle:Layout:navigation.html.twig" with {"table" : table} %}
{% endblock %}
