{% block events_widget %}
    <div class="card-body col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <dl>
                            <dt>Nombre</dt>
                            <dd>{{ form_widget(form.name) }}</dd>
                        </dl>
                    </div>

                    <div class="col-md-3">
                        <dl>
                            <dt>Hora de fin</dt>
                            <dd>{{ form_widget(form.endHour) }}</dd>
                        </dl>
                    </div>

                    <div class="col-md-3">
                        <a href="#" class="event-remove btn btn-default" title="Eliminar Curso">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="event-duplicate btn btn-default" title="Duplicar">
                            <i class="fa fa-copy"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
