{% extends 'AppBundle:Layout:index.html.twig' %}

{% block body %}
    {% include "AppBundle:Layout:navigation.html.twig" %}
    <div class="container">
        <h1 class="mt-4 mb-3">Iniciar Sesión</h1>
    </div>

{% endblock %}