{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>Gestión de cuotas</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('installment_generate_all') }}">
                <i class="fa fa-cogs" aria-hidden="true"></i> Generar
            </a>
        </div>
    </div>
{% endblock %}
