{% extends 'AppBundle:Layout:admin_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h3>Ciudades</h3>
        </div>
        <div style="margin-right: 1em;">
            <a class="btn btn-dark pull-right" href="{{ path('city_create') }}">
                <i class="fa fa-plus" aria-hidden="true"></i> Nueva Ciudad
            </a>
        </div>
    </div>

    <hr>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Provincia</th>
            <th scope="col">Pais</th>
        </tr>
        </thead>
        <tbody>
        {% for country in table %}
            <tr>
                <td><i class="fa fa-search"></i></td>
                <td>{{ country.name }}</td>
                <td>{{ country.province.name }}</td>
                <td>{{ country.province.country.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
