{% block classrooms_widget %}
    <div class="row">
        <div class="col-md-4">
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-4">
            <a href="#" class="classroom-remove btn btn-default" title="Eliminar Sala"><i class="fa fa-trash" aria-hidden="true"></i></a>

        </div>
    </div>
{% endblock %}
